adopy @ git+https://github.com/adopy/adopy.git@8f5da97cbfd0cbf8cc509778dd987ef1744aaa41
contourpy==1.3.3
cycler==0.12.1
et_xmlfile==2.0.0
fonttools==4.63.0
formulaic==1.2.2
iniconfig==2.3.0
interface_meta==2.0.1
kiwisolver==1.5.1
matplotlib==3.11.1
narwhals==2.25.0
numpy==2.5.2
numpy-typing-compat==20260602.2.5
openpyxl==3.1.5
optype==0.18.0
packaging==26.3
pandas==3.0.5
pandas-stubs==3.0.5.260730
patsy==1.0.2
pillow==12.3.0
pluggy==1.6.0
Pygments==2.21.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
scipy==1.18.1
scipy-stubs==1.18.1.0
six==1.17.0
statsmodels==0.15.0
typing_extensions==4.16.0
wrapt==2.3.0
